<% now = Time.zone.now %>

<div class="page-header">
  <h1>プロジェクト作成</h1>
</div>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@project) do |f| %>

　　<div class="form-group">
    <%= f.label :project_name　%>
    <%= f.text_field :project_name %>

    <%= f.label :project_place %>
    <%= f.text_field :project_place %>

    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, start_year: now.year, end_year: now.year + 1 %>

    <%= f.label :end_time %>
    <%= f.datetime_select :end_time, start_year: now.year, end_year: now.year + 1 %>

    <%= f.label :content %>
    <%= f.text_area :content %>

    <%= f.label :company_name %>
    <%= f.text_field :company_name %>

    <%= f.label :company_owner_name %>
    <%= f.text_field :company_owner_name %>

    <%= f.submit "make project", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
  </div>
</div>
